node_modules

# Build outputs
dist
dist-ssr

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Temporary folders
tmp/
temp/
